<h2><%= vendorReturned.name %>'s profile</h2>

<a href="/vendors/<%= vendorReturned.id%>/new">ADD NEW DISH</a>

<h3>Today's Menu:</h3>
    <ul><% vendorReturned.menu.forEach((element) => { %>
        <li><a href="/vendors/<%= element.dishName %>"><%= element.dishName %> : $<%= element.dishPrice %></a>
            <button>DELETE</button><button>EDIT</button>
            <% }); %>
        </li>
    </ul>
